<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Concepts Of Method</title>
	<link rel="icon" href="logo.png">
</head>
<body>
	<div id="app">
		First Name: <input type="text" placeholder="Enter First Name" v-model="fname"><br>
		Last Name: <input type="text" placeholder="Enter Last Name" v-model="lname"><br>

		<h3>Full Name: <input type="text" v-model="fullname"> </h3>
		<p>Channel Name: {{ channelName }} </p>

	</div>

	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script src="app.js"></script>	
</body>
</html>